@font-face {
    font-family: my-cool-font;
    src: url(./resources/Norse-Bold.otf);
}
html, body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.background-image {
    background-image: url('./resources/whistler.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
}

.logoContainer {
    height: 14rem;
    display: flex;
    background-color: rgba(0,0,0, 0.3);
    margin-top: 14rem;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(./resources/odin-lined.png);
    background-repeat: no-repeat;
    background-size: 10rem;
    height: 14rem;
    width: 10em;
}

.mainTitle {
    font-family: my-cool-font, sans-serif;
    font-size: 100px;
    color: white ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    height: max(600px, 95%);
    width: clamp(600px, 80%, 100%);
    background-color: white;
}

.userName, .userInfo, .userPassword {
    display: flex;

}

.top, .form {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.top {
    justify-content: space-evenly;
}
.top > p, legend {
    font-size: 24px;
    font-weight:600;
    

}

.create {
    display: inline-block;
}


.bottom {
    padding-top: 2em;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .bottom {
    align-items: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.top, .bottom {
    background-color: #f9fafc;
}

.btn {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border: none;
    border-radius: 3px;
}
.container {
    padding-left: 50px;
    padding-right: 50px
}

input, label{
    -webkit-appearance: none;
    appearance: none;
    display: block;
  }

label {
    width: 100%;
    /* padding-left: 50px; */
    
}

input {
    width: 250px;

}
/* 
.userName > div:last-of-type {
    input:last-of-type {
        margin-left: 50px;    
    }
} */

.userName > div:last-of-type > input:last-of-type {
    margin-left: 50px;
}

.userName > div:last-of-type > label:last-of-type {
    margin-left: 50px;
}
